<body>
    <div class="topNav">
        <h1 class="title"><a href="/">Provinsi & Kabupaten</a></h1>
        <div class="navbtnContainer">
            <a href="/add-provinsi" class="Add">Add Provinsi</a>
            <a href="/add-kabupaten" class="Add">Add Kabupaten</a>
        </div>
    </div>